/***************************************************************************
****************************************************************************
//////////                                                        //////////
//////////              THEME WOODLANE - VARIABLES                //////////
//////////                  FALMOUTH UNIVERSITY                   //////////
//////////                                                        //////////
****************************************************************************
***************************************************************************/


$brandweb:      #F6CE4C;
$brand:         #F3BA00;
$button:        #516FA0;
$buttonalt:     darken($button,10%);

$darkgrey:      #3b3b3b;
$dark:          #333333; 
$darker:        #222222;
$darkest:       #000000;
$grey:          #d9d9d9;
$lightgrey:     #e3e3e3;
$light:         #eee;
$lighter:       #fafafa;
$lightest:      #ffffff;

$textprimary: $dark;
$textalt: $lightest;
$footer: $darker;
$loginpanel: $darkgrey;
