/***************************************************************************
****************************************************************************
//////////                                                        //////////
//////////              THEME WOODLANE - VARIABLES                //////////
//////////                  FALMOUTH UNIVERSITY                   //////////
//////////                                                        //////////
****************************************************************************
***************************************************************************/


$brandweb:      #F6CE4C;
$brand:         #F3BA00;
$button:        #516FA0;
$buttonalt:     darken($button,10%);
$accent:        #348374;
$darkgrey:      #3B3B3B;
$dark:          #333333; 
$darker:        #222222;
$darkest:       #000000;
$grey:          #D9D9D9;
$lightgrey:     #E3E3E3;
$light:         #EEEEEE;
$lighter:       #FAFAFA;
$lightest:      #FFFFFF;

$textprimary: $dark;
$textalt: $lightest;
$footer: $darker;
$loginpanel: $darkgrey;
