.path-report-myfeedback #reportPrint {
    @extend %button-default;
    background-image: none;
}
.path-report-myfeedback .buttonswrapper {
    overflow: hidden;
    // float: none !important;
    margin-bottom: 24px;
    margin-top: 24px;
}
.path-report-myfeedback .dataTables_wrapper {
    margin-top: 24px;
    padding: 24px 16px;
    background: #f5f7f7;
    overflow-y: scroll;
}
.path-report-myfeedback .userprofilebox {
    margin: 24px 0;
}
.path-report-myfeedback .ac-year-right {
    margin: 0;
    overflow: hidden;
    p, form {
        float: left;
    }
}
.path-report-myfeedback .nav.nav-tabs {
    font-size: 16px;
}
.path-report-myfeedback .nav-tabs>li>a:focus {
    background-color: inherit;
    text-decoration: underline;
}

.path-report-myfeedback .heading h2 {
    background: none;
    color: #333;
    margin-bottom: 24px;
    margin-top: 24px;
}

.path-report-myfeedback table.grades tr:hover td {
    background: #fcf0cb!important;
}

.path-report-myfeedback .ownreport {
    float: right;
    background-color: $button;
    border-color: $button;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.path-report-myfeedback .ownreport:hover {
    background-color: $buttonalt;
    border-color: $buttonalt;
}
.path-report-myfeedback .ownreport a {
    font-size: inherit;
}
.path-report-myfeedback .descriptionbox h2 {
    font-size: 1.4rem;
    margin: 0 !important;
}


div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled), 
div.dt-button-collection div.dt-button:active:not(.disabled), 
div.dt-button-collection div.dt-button.active:not(.disabled), 
div.dt-button-collection a.dt-button:active:not(.disabled), 
div.dt-button-collection a.dt-button.active:not(.disabled) {
    @extend %button-default;
    box-shadow: none;
    text-shadow: none;
}


button.dt-button, 
div.dt-button, 
a.dt-button,
.path-report-myfeedback .personaltutoremail {
    @extend %button-default;
    white-space: normal;
    background-image: none;
}

button.dt-button.disabled, 
div.dt-button.disabled, 
a.dt-button.disabled {
    
}

button.dt-button:active:not(.disabled), 
button.dt-button.active:not(.disabled), 
div.dt-button:active:not(.disabled), 
div.dt-button.active:not(.disabled), 
a.dt-button:active:not(.disabled), 
a.dt-button.active:not(.disabled) {
}

button.dt-button:active:not(.disabled):hover:not(.disabled), 
button.dt-button.active:not(.disabled):hover:not(.disabled), 
div.dt-button:active:not(.disabled):hover:not(.disabled), 
div.dt-button.active:not(.disabled):hover:not(.disabled), 
a.dt-button:active:not(.disabled):hover:not(.disabled), 
a.dt-button.active:not(.disabled):hover:not(.disabled) {
    background-image: none;
    box-shadow: none;
}

button.dt-button:hover, 
div.dt-button:hover, 
a.dt-button:hover {

}

button.dt-button:hover:not(.disabled), 
div.dt-button:hover:not(.disabled), 
a.dt-button:hover:not(.disabled) {
   
}

button.dt-button:focus:not(.disabled), 
div.dt-button:focus:not(.disabled), 
a.dt-button:focus:not(.disabled) {

}

@media (min-width: 768px) {
    #tooltip2 {
        z-index: 1041;
    }
}