/***************************************************************************
****************************************************************************
//////////                                                        //////////
//////////                  THEME WOODLANE                        //////////
//////////                  FALMOUTH UNIVERSITY                   //////////
//////////                                                        //////////
****************************************************************************
****************************************************************************

    Sections:

    1. #DEFAULTS
    2. #LOGIN
    3. #FOOTER
    4. #HEADER
    5. #NAVIGATION
    6. #PAGECONTENT

***************************************************************************/



// #DEFAULTS ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////             DEFAULT OVERRIDES AND COLOURS              //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

@import "ls-variables";


body {
    background: #f4f4f4;
    font-size: .875rem; // override the increase of latest update
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    margin: .5em 0 1em;
}

@include media-breakpoint-down(sm) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1.15rem;
    }
}

.btn {
    border-radius: 5px !important;
}

.btn-primary {
    color: $textalt;
    background-color: $button;
    border-color: $button;
    &:hover, &:active, &:focus {
        background-color: $buttonalt;
        border-color: $buttonalt;
    }
}

.btn-group>.btn {
    border-color: #2f4f4f;
}


#page.container-fluid {
    margin-top: 0;
    padding: 50px 15px 30px 15px;
    @include media-breakpoint-up(md) {
        padding: 90px 28px 0 28px;
    }
}

#page-wrapper {
    margin-bottom: 0;
    @include media-breakpoint-up(md) {

    }
}


// #LOGIN //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                         LOGIN                          //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

.pagelayout-login {
    background: $dark;
    @include media-breakpoint-up(md) {
        background: $dark url([[pix:theme|/login/login-bg-025x]]) no-repeat center top fixed;    
        background-size: cover;                                                            
    }

    #region-main-box {
        width: 100%;
    }
}

.ls-login-panel {
    background: none;
    padding: 32px;
    color: $lightest;
    width: 260px;
    margin: 32px auto;
    @include media-breakpoint-up(md) {
        color: $textalt;
        background: $dark;
        float: right;
    }
    @include media-breakpoint-up(lg) {
        margin: 24px 184px 24px 0;
    }

    .btn {
        font-size: 16px;
        color: $textprimary;
        background-color: $brandweb;
        border-color: $brandweb;
        &:hover {
            background-color: darken($brandweb, 5%);
            border-color: $brand;
            transition: background-color .3s;
        }
    }

}
.ls-logo-title {
    margin-bottom: 60px;
    h2 {
        font-size: 44px;
        font-weight: 300;
        margin-top: 0;
    }
    span + span {
        color: $brandweb;
    }
}

.ls-admin-block {
    position: fixed;
    top: 0;
    left: 0;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.ls-admin-form {
    padding: 10px;
    border-radius: 0 0 4px 0;
    background: #323232;
}

// #FOOTER /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                      FOOTER                            //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

// .footer-content {
//     padding: 20px;
//     @include media-breakpoint-up(md) {
//         .row {
//             display: flex;
//             align-items: center;
//             flex-wrap: nowrap;
//         }
//         .col + .col {
//             min-width: 200px;
//         }
//     }
// }
.page-footer {
    display: flex;
    align-items: center;
}

.footer-links {
    li {
        @include media-breakpoint-up(md) {
            display: inline-block;
        }
    }
    a {
        display: block;
        padding: 8px 0;
        font-size: 13px;
        @include media-breakpoint-up(sm) {
            display: inline;
            margin-right: 12px;
            padding: 0;
        }
    }
}

.footer-logo {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #333;
    @include media-breakpoint-up(sm) {
        padding: 0;
        margin: 0;
        border: none;
        text-align: right;
    }
    a {
        display: inline-block;
        width: 160px;
    }
    svg {
        width: 100%;
        height: 40px;
        vertical-align: middle;
    }
    .logo-shape {
        fill: $lightest;
    }
}

#page-footer {
    min-height: 80px;
    background: $footer;
    color: $textalt; 
    font-size: 14px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    @include media-breakpoint-down(xs) {
        .nav {
            flex-direction: column;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;

        .col {
            align-items: center;
            display: flex;
            + .col {
                justify-content: flex-end;
            }
        }

    }

}


// #HEADER /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                         HEADER                         //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

header.navbar {
    background-color: $brandweb;
    border: none;
    min-height: 70px;
    height: 70px;

    [data-region="drawer-toggle"] .btn {
        border: none;
        background: transparent;
    }

    .navbar-brand {
        font-size: 32px;
        margin-right: 0;
        padding: 0;
        background: none;
        color: $dark;
        font-weight: 300;
        &:hover {
            color: $dark;
        }
    }

    @include media-breakpoint-down(sm) {
        min-height: 50px;
        height: 50px;
        .navbar-brand {
            font-size: 24px;
        }    
    }

}

.user-menu-wrapper .singlebutton button {
    color: #333;
    background: transparent;
    border-color: #333;
    transition: background-color .3s, color .3s;
    @include media-breakpoint-down(md) {
        @include btn-sm();
    }
    &:hover {
        color: #fff;
        background: #333;
        border-color: #333;
        transition: background-color .3s, color .3s;
    }
}

header .site-name {
    display: none;
    @include media-breakpoint-up(sm) {
        display: block;
    }
}
header .site-name-abbr {
    display: block;
    @include media-breakpoint-up(sm) {
        display: none;
    }
}

header {
    .usermenu {
        .usertext,
        .dropdown-toggle::after {
            display: none;
        }
    }
    &.navbar {
        // display: flex;
        // align-items: center;
    }
    .navbar-nav {
        // flex: 1;
    }
}

header .navbar-nav {
    padding-left: 80px;
    transition: padding-left 0.5s ease;
    @media screen and (max-width: 767px) {
        padding-left: 50px;
    }
}

.user-menu-wrapper {
    display: flex;
    align-items: center;
    > * {
       margin: 0 8px; 
    }
}
.ls-elevio-trigger .icon {
    margin: 0;
}
.action-menu .userpicture {
    margin: 0;
}

.main-navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .navbar-brand {
        float: none;
        // flex: 0 1 auto;
        line-height: 1;
        &:focus,
        &:hover {
            color: $textprimary;
        }
    }
    .user-menu-wrapper {
        text-align: right;
        // flex: 1 0 auto;
    }
}

.drawer-toggle {
    position: absolute;
    background: $darkest;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    line-height: 70px;
    padding-left: 12px;
    transition: width .5s ease;
    .btn {
        color: $lightest;
    }

    @include media-breakpoint-down(sm) {
        line-height: 50px;
        width: 50px;
        padding-left: 2px;
    }

}

@include media-breakpoint-up(md) {
    body.drawer-open-left {
        header .navbar-nav {
            padding-left: 300px;
            transition: padding-left 0.5s ease;
        }
        .drawer-toggle {
            width: 285px;
            transition: width .5s ease;
        }
    }
}

.dropdown-menu .dropdown-divider {
    display: none
}

.navbar-static-top {
    .dropdown {
        // position: initial;
    }
    .dropdown-item .icon {
        color: $brandweb;
        padding-right: 10px;
    }
    .dropdown-menu {
        border: none;
        background: transparent;
    }
    .dropdown-menu .dropdown-item {
        border-bottom: 1px solid $darkest;
        padding: 16px 26px;
        color: $lightest;
        background: $dark;
        z-index: 12;
        position: relative;
    }
    .dropdown-menu .dropdown-item:hover {
        background: $darkgrey;
    }
    .dropdown .dropdown-menu {
        top: 32px;
        left: auto;
        right: -10px;
        margin: 0 !important;
        padding: 0;
        border: none;
        padding-top: 20px;
        background: transparent;
        position: absolute;
        @include media-breakpoint-down(sm) {
            top: 30px;
        }
    }

    .dropdown .dropdown-menu:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 19px;
        width: 20px;
        height: 20px;
        background: $dark;
        transform: rotate(45deg);
        z-index: 10;

        @include media-breakpoint-down(sm) {
            top: 18px;
        }
    }
}

.dropdown-toggle {
    color: $darker;
    &:hover {
        color: $brandweb; 
    }
}

// Elevio help
._elevio_launcher {display: none !important;}
.usermenu {
    float: none;
    display: inline-block;
}
.ls-elevio-trigger {
    display: inline-block;
    .icon {
        color: $dark;
        width: 24px;
        height: 24px;
        font-size: 24px;

    }
    &:hover .icon {
        color: $darkgrey;
    }
}

.impersonate {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding-left: 0;
    transition: padding-left 0.5s ease;
    > span {
        display: block;
        padding: 2px 0;
        font-size: 13px;
        font-weight: 500;
        background: $accent;
        text-align: center;
        color: $lightest;
    }
    @include media-breakpoint-up(md) {
        top: 70px;

        body.drawer-open-left & {
                padding-left: 285px;
                transition: padding-left 0.5s ease;
        }
    }
}


// #NAVIGATION /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                      NAVIGATION                        //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

#nav-drawer {
    background-color: $darkgrey;
    padding: 0;
    top: 70px;
    height: calc(100% - 70px);
    z-index: 1040;
    @include media-breakpoint-down(sm) {
        top: 50px;
        height: calc(100% - 50px);
    }

    nav {
        margin-top: 0 !important;
    }
}
.list-group {

    background: $darker;
    overflow: hidden;   

    .list-group-item {
        padding: 14px 20px;
        background: $darkgrey;
        font-size: 16px;
        color: $lightest;
        border: none;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;

        &[data-isactive="1"] {
            color: $brandweb;
        }

        .media-left {
            padding-right: 0;
        }
        /* all nav items */
        &[data-key] {
            background: $darkgrey;
            border-bottom: 1px solid $darkest;
        }
        /* nested items only */
        &[data-parent-key] {
            background: $darker;
        }
        /* make my courses look like a top level item */
        &[data-key="mycourses"],
        &[data-key^="localboost"] {
            background: $darkgrey;
            border-bottom: 1px solid $darkest;
        }
        &.is-section {
            padding: 8px 22px;
            border-bottom: none;
            margin-top: 12px;
        }
        &.is-section + .is-section {
            margin-top: 0px;
        }
        &.is-section:last-child {
            margin-bottom: 20px;
        }

        &[data-indent="1"],
        &[data-key="grades"],
        &[data-key="participants"] {
            padding-left: 44px;

            &:before {
                content:'\f054';
                position: absolute;
                left: 24px;
                font-family: 'FontAwesome';
                color: $brandweb;
            }
        }
        &[data-indent="1"] {
            padding-left: 30px; 
        }

        &:hover {
            color: $brandweb;
            transition: color 0.2s;
        }

    }

    .icon {
        color: $brandweb;
        height: 20px;
    }

    a {
        
    }
}


.jsenabled .list-group .list-group-item { // selector hellfire
    &[data-key="mycourses"],
    &[data-key="localboostnavigationcoursesections"],
    &[data-key="localboostnavigationactivities"],
    &[data-key^="localboostnavigationcustom"] {
        &[data-isexpandable="1"]>div::after {
            font-family: 'FontAwesome';
            content: '\f0d8';
            font-size: 20px;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transform: rotateX(0);
            transition: transform .3s;
        }
        &[data-collapse="1"]>div::after {
            transform: rotateX(180deg);
            transition: transform .3s;
        }
    }
}


// #PAGECONTENT ////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                      PAGE CONTENT                      //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////


#region-main {
    border: none;
    padding: 0 0 1.75rem;
    background: none;
    overflow: inherit;
}


.courses .coursebox {
    padding: 0;
    margin: 0 0 10px;
    position: relative;
    background: none;
    &.collapsed {
        padding: 0;
    }
    &:hover,
    &.even,
    &.even:hover {
        background: none;
    }

    > .info > .coursename {
        width: 100%;
        margin: 0;
        a {
            padding: 20px;
            border: none;
            background: $lightest;
            color: $dark;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            
            &:before {
                content: '';
                width: 5px;
                left: 0;
                top: 0;
                height: 100%;
                position: absolute;
                background: #198f91;
            }

            &:hover,
            &:focus {
                text-decoration: none;
                background: #d0e8e8;
                border: none;
                transition: background-color 0.2s, border-color 0.2s;
            }

            &.dimmed {
                opacity: .5;
            }
        }
    }
    > .info > h3.coursename {
        margin: 0;
    }
    .info {
        overflow: auto;
    }
    .moreinfo,
    .content {
        display: none;
    }
}

.enrolmenticons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.course_category_tree .category {
    > .content {
        padding: 10px;
    }
}




#frontpage-course-list h2, 
#frontpage-category-names h2, 
#frontpage-category-combo h2 {
    margin-bottom: 20px;
}

.pagelayout-frontpage .sitetopic {
        display: none;
}
.editing.pagelayout-frontpage .sitetopic {
        display: block;
}

.block_filtered_course_list #frontpage-course-list {
    padding: 1.25rem; 
}


.page-context-header h1 {
    margin: 0 0 0.5em;
}


.section li.activity {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid $lightgrey;
    border-left: 5px solid $brandweb;
    max-width: 768px;
    background: $lightest;
}
.section.hidden li.activity {
    border-color: $lightgrey;
}

.hidden .sectionname {
    .topic-heading {
        color: #999999;
    }
    .icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 19px;
        color: $accent;
    }
}

.section_availability {
    margin-bottom: 1rem;
}

.course-content ul.section {
    margin: 0;
    padding: 0;
}

.section .side {
    margin: 0;
}
.editing .section .side {
    margin-top: 8px;
}

.course-content ul.topics li.section .summary, 
.course-content ul.weeks li.section .summary, 
.course-content ul.topics li.section .content > .availabilityinfo, 
.course-content ul.weeks li.section .content > .availabilityinfo {
    margin-left: 0;
    margin-bottom: 20px;
}

.path-course-view .completionprogress {
    display: none;
}

.path-site li.activity>div, 
.path-course-view li.activity>div,
.section .label .contentwithoutlink, 
.section .label .activityinstance {
    padding-right: 0;
}


.course-content ul.topics {
    background: $lightest;
    border: 1px solid $light;
    margin-bottom: 20px;
}

.course-content ul.topics li.section {
    padding: 0;
    margin: 0;

    .left, .right {
        position: relative;
        z-index: 1;
    }
}

.editing .course-content ul.topics li.section {
    .left, .right {
        padding: 0 16px;
    }
}

.sectionname {
    margin:0;
    .topic-heading {
        display: block;
        padding: 20px 50px 20px 14px;
        color: $dark;
        background: $lighter;
        transition: background-color .8s;
        text-decoration: none;
        position: relative;
        @include media-breakpoint-up(md) {
            padding: 20px 80px 20px 20px;
        }
    }
    a.topic-heading {    
        &:hover {
            color: $brandweb;
            text-decoration: none;
        }
        
        &:after {
            content: $fa-var-caret-up;
            position: absolute;
            right: 20px;
            top: 20px;
            font-family: FontAwesome;
            // transform: rotateX(0deg);
            // transition: transform .5s;
            @include media-breakpoint-up(md) {
                right: 40px;
            }
        }
    }

    a.collapsed {
        background: $lightest;
        transition: background-color .8s;

        &:after {
            content: $fa-var-caret-down;
            // transform: rotateX(180deg);
            // transition: transform .5s;
        }
    }
}
.editing .sectionname {
    a {
        padding-top: 40px;
        &:after {
            top: 40px;
        }
    }
}



:target {
    padding-top: inherit !important;
    margin-top: inherit !important;
}
.topics .section {
    position: relative;
    // z-index: 1;
}
// .topics .section:target {
//     position: relative;
//     z-index: 0;
//     .editing & {
//         z-index: 1;
//     }
// }
.collapse-content,
.topic-content {
    padding: 32px 20px;
    @include media-breakpoint-down(sm) {
        padding: 32px 14px;
    }
}
.pagelayout-frontpage #region-main > .card {
    min-height: auto;
}

// Get rid of the all courses link
#page-site-index .courses > .paging.paging-morelink {
    display: none;
}

.course-content .current::before {
    border: 5px solid $accent;
    left: -10px;
    @include media-breakpoint-down(sm) {
        border-width: 10px;
        left: -20px;
    }
}

.collapse-control-wrap {
    text-align: right;
    padding: 5px 1px;
    a {
        font-size: 13px;
    }
}

.section .activity video {
    max-width: 100%;
}
.section .activity.modtype_label.label {
    padding: 0;
    border: none;
    border-radius: 0;
}

.activity:not(.label) + .label {
    margin-top: 2rem;
    margin-bottom: 0;
  }

.section .label .mod-indent-outer {
    padding-left: 0;
}
.activity .mod-indent-outer {
    width: 100%;
}

.section .activity .availabilityinfo, 
.section .activity .contentafterlink {
    margin-left: 0;
}

// talis plugin
.section .activity.aspirelists .activityinstance > a,
.aspirelists_inline_accordion {
    display: inline-block;
}
.aspirelists_inline_accordion {
  margin-left: 10px;
}

.alert-icon {
    padding: 1.2rem 1.2rem 1.2rem 60px;
    position: relative;

    &:before {
        font-family: FontAwesome;
        position: absolute;
        left: 20px;
        top: 12px;
        font-size: 22px;
    }
    &.alert-danger:before {
        content: '\f06a';
    }
    &.alert-info:before {
        content: '\f05a';
    }
    &.alert-warning:before {
        content: '\f071';
    }
    &.alert-success:before {
        content: '\f073';
    }
}

.btn-secondary .icon {
    color: $lightest;
}


// Course settings

#id_descriptionhdr,
#id_courseformathdr,
#id_rolerenaming {
    display: none;
}

// Front page

#page-site-index #page-content { // ids :(
    padding-top: 18px;
}


// Generic

.breadcrumb-button {
    clear: both;
    .singlebutton {
        float: right;
        margin-bottom: 4px;
    }
}

#page {
    .dropdown-menu {
        width: 340px;
        white-space: normal;

        @include media-breakpoint-down(md) {
            width: 260px;
        }

        .dropdown-item {
            white-space: normal;
        }
    }
}

@include media-breakpoint-down(xs) {
    .section img[class*="atto_image"] {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}

@include media-breakpoint-down(md) {
    .editing {
        .section {
            li.activity {
                background: #f0f8ff;
                padding: 30px 0 0 0;
                position: relative;
            }
            .activity {
                .contentwithoutlink, 
                .activityinstance {
                    padding-right: 0;
                }   
                .mod-indent-outer {
                    padding-left: 10px;
                }
                .actions {
                    top: 4px;
                    right: 0
                }
                &.modtype_label.label {
                    padding: 30px 0 0 0;
                }
            }
        }
        .course-content ul.topics li.section .left, 
        .course-content ul.topics li.section .right {
            padding: 4px 5px 6px;
            background: #eee;
            margin: 0;
        }
        .sectionname .topic-heading {
            padding: 40px 14px 20px;
        }

        &.path-site li.activity>div, 
        &.path-course-view li.activity>div {
            background: #fff;
            position: static;
            padding: 10px 10px 10px 0px;
        }
    }
}

// Softer border for cards and other similar elements
.card, 
#page-enrol-users #filterform, 
.que .history, 
.userprofile .profile_tree section, 
.groupinfobox, 
.well {
    border-color: rgba(238,238,238,1);
    overflow-x: scroll;
}

// JS related

@include media-breakpoint-down(sm) {
    .form-autocomplete-selection {
        clear: both;
    }
}
.form-autocomplete-selection + input.form-control {
    min-width: 240px;
}


// #RELEASENOTES ///////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                    RELEASE NOTES                       //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

 
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: $darker;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }
    &:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    &:after {
        left: 3.5em;
    }
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.releases {
    width: 50%;
    margin: 0 auto;
}

.release {
    border-left: 5px solid $darker;
    margin-left: 60px;
    position: relative;
}

.release-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.release-content {
    padding: 0 40px 80px 100px;
}

.further-info {
    margin-top: 34px;
     a {
        color: $lightest;
    }
    .icon {
        color: $accent;
    }
}

.release {
    .date {
        position: absolute;
        left: -64px;
        top: -16px;
        color: $lightest;
        background: $darker;
        width: 120px;
        height: 120px;
        border-radius: 200px;
        text-align: center;
        line-height: 1;
    }

    .date-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .month {
        text-transform: uppercase;
    }
    .month abbr {
        text-decoration: none;
    }

    .day {
        font-size: 34px;
        font-weight: bold;
    }

    .title {
        font-size: 28px;
        margin-bottom: 1em;
    }

    .version {
        color: $lightest;
        background: $accent;
        display: inline-block;
        padding: 2px 8px;
        margin: 0 8px 0 0;
        font-size: 16px;
        line-height: 28px;
        border-radius: 4px;
        vertical-align: top;
    }
    .version abbr {
        text-decoration: none;
    }

    &:first-child {
        margin-top: 80px;
    }
    &.future {
        border-left: 5px solid $brandweb;
    }
    &:last-child {
        border-color: transparent;
    }
    &.future .version,
    &.future .date {
        background: $brandweb;
        color: $dark;
    }
}

.release-notes .icon {
    color: $brandweb;
}

.overlay {
    position: fixed;
    background: $darkgrey;
    color: $lightest;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    &.open {
        z-index: 2147483001; // You can thank elevio for this
        height: 100%;
        transition: opacity .3s, height .3s, visibility .3s;
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
}
.overlay-inner {
    overflow: hidden;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 0;
}
.overlay-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 16px;
    .icon {
        color: $lightest;
        font-size: 32px;
    }
}
@include media-breakpoint-down(md) {
    .overlay-inner {
        width: 75%;
    }
}
@include media-breakpoint-down(sm) {
    .overlay-inner {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .release {
        margin-left: 0;
        border-top: 1px solid $darker;
    
        &:first-child {
            margin-top: 40px;
        }
        &:last-child {
            border-color: $darker;
        }
        .release-title {
            padding-left: 24px;
        }
        .release-content {
            padding: 24px 24px 64px 100px;
        }
        .release-content .date {
            background: none;
            color: $lightest;
            left: 0;
            top: -2px;
            width: 80px;
        }
    }
}


// #PLUGIN OVERRIDE ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////                                                        //////////
//////////                    PLUGIN OVERRIDE                     //////////
//////////                                                        //////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////


.helpdoclink {
    display: none;
}


// Scheduler

.path-mod-scheduler {
    div.commandbar {
        display: flex;
        justify-content: flex-end;
        .moodle-actionmenu .menubar .action-menu-trigger {
            flex: 1 1 auto;
        }
    }
    .maildisplay {
        background: #d9d9d9;
        width: 100%;
    }
    @media (max-width: 800px) {
        #region-main-box .card {
            overflow-y: scroll;
        }
    }
}


.block_filtered_course_list h3 {
    @extend .h3
}

.block-fcl__rubric {
    padding: 16px;
    background: $brandweb;
    position: relative;
    margin-top: 10px;
    a {
        color: #323232;
    }
}

.block-fcl__list {
    background: #f3f3f3;
    padding: 16px;
    margin: 0 0 24px;
    clear: left;
}

.jsenabled {
    .block-fcl__rubric {
        padding-left: 42px;
        &:before {
            content: $fa-var-caret-up;
            position: absolute;
            left: 20px;
            top: 16px;
            font-family: FontAwesome;
        }
    }
    .block-fcl__rubric--collapsed {
        background: #f1f1f1;
        margin: 0 0 10px;
        &:before {
            content: $fa-var-caret-down;
        }
        &:hover {
            background: darken(#eee, 10%);
            transition: background-color .2s;
        }
    }
}

.path-grade-report-grader #region-main>.card {
    overflow: scroll;
}

.path-grade-report-grader #region-main {
    display: block;
    overflow: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
    }
}