// Variable overrides go in here.

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url([[font:theme|Montserrat-ThinItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-ThinItalic.woff) format('woff'),
        url([[font:theme|Montserrat-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url([[font:theme|Montserrat-BoldItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-BoldItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-BoldItalic.ttf]]) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url([[font:theme|Montserrat-Thin.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Thin.woff]]) format('woff'),
        url([[font:theme|Montserrat-Thin.ttf]]) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url([[font:theme|Montserrat-Regular.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Regular.woff]]) format('woff'),
        url([[font:theme|Montserrat-Regular.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url([[font:theme|Montserrat-Bold.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Bold.woff]]) format('woff'),
        url([[font:theme|Montserrat-Bold.ttf]]) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url([[font:theme|Montserrat-SemiBold.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-SemiBold.woff]]) format('woff'),
        url([[font:theme|Montserrat-SemiBold.ttf]]) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url([[font:theme|Montserrat-MediumItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-MediumItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-MediumItalic.ttf]]) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url([[font:theme|Montserrat-Medium.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Medium.woff]]) format('woff'),
        url([[font:theme|Montserrat-Medium.ttf]]) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url([[font:theme|Montserrat-ExtraLightItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-ExtraLightItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-ExtraLightItalic.ttf]]) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url([[font:theme|Montserrat-BlackItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-BlackItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-BlackItalic.ttf]]) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url([[font:theme|Montserrat-Italic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Italic.woff]]) format('woff'),
        url([[font:theme|Montserrat-Italic.ttf]]) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url([[font:theme|Montserrat-LightItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-LightItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-LightItalic.ttf]]) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url([[font:theme|Montserrat-ExtraBoldItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-ExtraBoldItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-ExtraBoldItalic.ttf]]) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url([[font:theme|Montserrat-Black.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Black.woff]]) format('woff'),
        url([[font:theme|Montserrat-Black.ttf]]) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url([[font:theme|Montserrat-ExtraLight.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-ExtraLight.woff]]) format('woff'),
        url([[font:theme|Montserrat-ExtraLight.ttf]]) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url([[font:theme|Montserrat-SemiBoldItalic.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-SemiBoldItalic.woff]]) format('woff'),
        url([[font:theme|Montserrat-SemiBoldItalic.ttf]]) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url([[font:theme|Montserrat-ExtraBold.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-ExtraBold.woff]]) format('woff'),
        url([[font:theme|Montserrat-ExtraBold.ttf]]) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url([[font:theme|Montserrat-Light.woff2]]) format('woff2'),
        url([[font:theme|Montserrat-Light.woff]]) format('woff'),
        url([[font:theme|Montserrat-Light.ttf]]) format('truetype');
    font-weight: 300;
    font-style: normal;
}


$font-family-sans-serif: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;