// Variable overrides go in here.
@import "fonts";

$font-family-sans-serif: 'Noto Sans', Arial, Helvetica, sans-serif;
$brand-info: #009688;
$btn-secondary-color:            #fff;
$btn-secondary-bg:               #6c757d;
$btn-secondary-border:           #6c757d;