{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">
    
    <div data-region="drawer-toggle" class="drawer-toggle">
        <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
    </div>

    <div class="container-fluid navbar-nav main-navbar">

        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}">
            <span class="site-name-abbr">LS</span>
            <span class="site-name">{{{ sitename }}}</span>
        </a>

        <div class="user-menu-wrapper">
            {{{output.render_edit_button_custom}}}

            <a href="http://etsupport.freshdesk.com/support/solutions/4000006971" id="ls-elevio-trigger" class="ls-elevio-trigger" title="Help">
                <i class="icon fa fa-question-circle fa-fw " aria-hidden="true" title="Help" aria-label="Help"></i>
                <span class="sr-only">Help</span>
            </a>
            <!-- user_menu -->
            {{{ output.user_menu }}}
        </div>
    </div>
    {{{ output.impersonate_notification }}}
</header>


